@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* || COLORS */
    --primary-color: #043A53;
    --primary-bg-color: #fff;

    /* || BORDERS */
    --BORDERS: 1px solid #000;
    --BORDER-RADIUS: 42px;

    /* || GLOBAL STYLES */
    --FF: "Lato", sans-serif;
    --FS: 1rem;
    --BUTTONS-PADDING: 0.5rem 1rem;
}

/* ||GENERAL STYLES */

.nowrap {
    white-space: nowrap;
}

body {
    font-family: var(--FF);
}

h1, h2, h3, h4, h5, h6, p {
    font-size: var(--FS);
    line-height: 1.5;
}

ul {
    list-style: none;
}

li {
    font-size: var(--FS);
}

li a {
    color: var(--primary-color);
    text-decoration: none;
    opacity: 0.7;
    transition: color 0.3s ease, opacity 0.3s ease;
}

/* ||HEADER */

.header {
    width: 100%;
    height: 98px;
    background-color: #F2F5F6;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 24px 20px;
    position: sticky;
    top: 0;
}

.header__nav {
    width: 487px;
    height: 19px;
}

.header__ul {
    display: flex;
    flex-direction: row nowrap;
    gap: 40px;
}

.header__ul li {
    font-weight: 800;
}

.header__ul li a:hover {
    text-decoration: underline;
    color: hsla(199, 91%, 17%, 0.835);
    opacity: 1;
}

.header__btn {
    width: 194px;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.header__btn #login-btn,
.header__btn #signup-btn {
    font-family: var(--FF);
    font-weight: 800;
    width: 92px;
    height: 50px;
    padding: var(--BUTTONS-PADDING);
    border: none;
    border-radius: var(--BORDER-RADIUS);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
} 

#login-btn {
    color: #12141D;
    background-color: var(--primary-bg-color);
    opacity: 0.7;
}

#login-btn:hover {
    opacity: 1;
}

#signup-btn {
    color: var(--primary-bg-color);
    background-color: var(--primary-color);
}

#signup-btn:hover {
    background-color: #032a3f;
}

.main {
    width: 100%;
    height: 700px;
    padding: 100px 120px;
}

/* ||HERO SECTION */

#hero {
    width: 100%;
    height: 700px;
    text-align: center;
    padding: 50px 20px;
}

#hero h1 {
    font-weight: 800;
    font-size: 4rem;
    line-height: 1.2;
}

#hero h1 #site-name {
    color: var(--primary-color);
}

#hero p {
    font-weight: 500;
    font-size: 1.5rem;
    color: #12141D;
    opacity: 0.7;
}

.primary-btn {
    width: 141px;
    height: 60px;
    border: none;
    border-radius: 55px;
    background-color: var(--primary-color);
    box-shadow: 0 23px 47px #043A533D ;
    padding: 1rem 1.5rem;
}

.text {
    color: #FFF;
    font-family: var(--FF);
    font-weight: 700;
    font-size: var(--FS);
}

@media (max-width: 1024px) {
    header {
        padding: 20px;
    }
    
    .main {
        padding: 80px 60px;
    }
    
    #hero h1 {
        font-size: 3rem;
    }

    #hero p {
        font-size: 1.2rem;
    }
}

