@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* || COLORS */
  --primary-color: #043a53;
  --primary-bg-color: #fff;
  --BG-COLOR: #f2f5f6;

  /* || BORDERS */
  --BORDERS: 1px solid #000;
  --BORDER-RADIUS: 42px;

  /* || GLOBAL STYLES */
  --FF: "Lato", sans-serif;
  --FS: 1rem;
  --BUTTONS-PADDING: 0.5rem 1rem;
}

/* ||GENERAL STYLES */

.nowrap {
  white-space: nowrap;
}

body {
  font-family: var(--FF);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--FS);
  line-height: 1.5;
}

ul {
  list-style: none;
}

li {
  font-size: var(--FS);
}

li a {
  color: var(--primary-color);
  text-decoration: none;
  opacity: 0.7;
  transition: color 0.3s ease, opacity 0.3s ease;
}

/* ||HEADER */

.header {
  width: 100%;
  height: 98px;
  background-color: var(--BG-COLOR);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 20px;
  margin: 0 auto;
}

.header__nav {
  width: 487px;
  height: 19px;
}

.header__ul {
  display: flex;
  flex-direction: row nowrap;
  gap: 40px;
}

.header__ul li {
  font-weight: 800;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  /* gap: 5px; */
}

.hamburger div {
  width: 30px;
  height: 3px;
  background-color: var(--primary-color);
  transition: all 0.3s ease;
  margin: 5px;
}

.hamburger.active div:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}
.hamburger.active div:nth-child(2) {
  opacity: 0;
}
.hamburger.active div:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  background-color: #f2f5f6;
  text-align: center;
  padding: 1rem 0;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: opacity 0.3s ease, height 0.3s ease;
}

.mobile-nav.active {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header__ul li a:hover {
  text-decoration: underline;
  color: hsla(199, 91%, 17%, 0.835);
  opacity: 1;
}

.header__btn {
  width: 194px;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
}

.header__btn #login-btn,
.header__btn #signup-btn {
  font-family: var(--FF);
  font-weight: 800;
  width: 92px;
  height: 50px;
  padding: var(--BUTTONS-PADDING);
  border: none;
  border-radius: var(--BORDER-RADIUS);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease;
}

#login-btn {
  color: #12141d;
  background-color: var(--primary-bg-color);
  opacity: 0.7;
}

#login-btn:hover {
  opacity: 1;
}

#signup-btn {
  color: var(--primary-bg-color);
  background-color: var(--primary-color);
}

#signup-btn:hover {
  background-color: #032a3f;
}

.hero__section {
  width: 100%;
  padding: 100px 120px;
  background-color: var(--BG-COLOR);
}

/* ||HERO SECTION */

#hero {
  width: 100%;
  max-width: 1200px;
  height: 340px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.hero__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero__title__text {
  max-width: 709px;
  gap: 1rem;
}

.hero__title__text h1 {
  font-weight: 800;
  font-size: 4rem;
  line-height: 1.2;
}

.hero__title__text p {
  font-weight: 500;
  font-size: 1.25rem;
  color: #12141d;
  opacity: 0.7;
}

.hero__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

#hero h1 #site-name {
  color: var(--primary-color);
}

.primary-btn {
  width: 141px;
  height: 60px;
  border: none;
  border-radius: 55px;
  background-color: var(--primary-color);
  box-shadow: 0 23px 47px #043a533d;
}

.text {
  color: #fff;
  font-family: var(--FF);
  font-weight: 700;
  font-size: var(--FS);
  padding: 1rem 1.5rem;
}

.play-video {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.play-btn {
  border: none;
  border-radius: 55px;
  background-color: var(--primary-color);
  box-shadow: 0 23px 47px #043a533d;
}

.play-video p {
  width: 137px;
  height: 28px;
  font-weight: 700;
  color: var(--primary-color);
}

/* ||CLIENT BRANDS / TRUSTED BRANDS SECTION */

.trusted-brands {
  width: 100%;
  height: 132px;
  background-color: var(--primary-bg-color);
  padding: 100px 120px;
  display: flex;
  justify-content: space-between;
}

.trusted-brands p {
  font-family: var(--FF);
  font-size: var(--FS);
  font-weight: 500;
  color: #000;
}

.brands {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 4rem;
}

/* ||VIDEO SECTION */

#video-section {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  padding: 100px 150px 0 150px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 2rem;
}

.header-text {
  width: 1140px;
  height: 144px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.header-text h3 {
  width: 588px;
  height: 144px;
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 1.2;
}

.header-text p {
  width: 432px;
  height: 120px;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.5;
}

#teams {
  font-weight: 700;
  font-size: 3.75rem;
  color: #f0b73f;
  white-space: nowrap;
}

.video-container {
  width: 100%;
  min-height: 636px;
  background-image: url("assets/BG.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play-button img {
  width: 100%;
  height: 100%;
}

/* || BENEFITS SECTION */

#benefits {
  width: 100%;
  height: 670px;
  padding: 100px 150px;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.benefits-header {
  width: 256px;
  height: 470px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#beneficial-badge {
  width: 125px;
  height: 43px;
  font-family: var(--FF);
  font-weight: 400;
  font-size: 1.125rem;
  background-color: var(--primary-color);
  color: var(--primary-bg-color);
  padding: 0.25rem 1.5rem;
  border: none;
  border-radius: 100px;
}

#benefits h2 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 4.5rem;
  color: #12141d;
}

#benefits p {
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #12141d;
}

#card-container {
  width: 820px;
  height: 470px;
  display: flex;
  gap: 1rem;
}

.benefit-card {
  background-color: #f2f5f6;
  padding: 2rem 1.5rem;
  border-radius: 16px;
}

.benefit-card:first-child,
.benefit-card:nth-child(2) {
  height: 390px;
}

#card-container h3 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
  color: #12141d;
  padding: 15px 0 10px 0;
}

#card-container p {
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.75rem;
  color: #404040;
}

/* ||NUMBERS SECTION */

#numbers {
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  padding: 100px 150px;
}

.metric {
  width: 237px;
  height: 120px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.metric h3 {
  font-weight: bold;
  font-size: 3.75rem;
  line-height: 4.5rem;
  color: var(--primary-color);
}

.metric p {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #404040;
}

/* ||FOUNDER SECTION */

#meet-founder {
  width: 100%;
  height: 774px;
  display: flex;
  padding-top: 100px;
  padding-right: 0;
  padding-bottom: 100px;
  padding-left: 150px;
  gap: 4rem;
}

.founder-text {
  width: 515px;
  height: 574px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.title-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: #12141d;
}

.title-text h2 {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 4.5rem;
  text-transform: capitalize;
}

.title-text p {
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2rem;
}

#founder-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#founder-info p:first-child {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.875rem;
  color: #12141d;
}

#founder-info p:last-child {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
  color: #404040;
}

.success-btn {
  width: 334px;
  height: 64px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary-color);
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  border: none;
  border-radius: 55px;
}

.success-btn p {
  background-color: var(--primary-color);
  border: none;
  color: var(--primary-bg-color);
  font-size: 1.125rem;
  font-weight: bold;
}

.success-btn .icon {
  width: 32px;
  height: 32px;
  padding: 4px;
  text-align: center;
  background-color: #f2f5f629;
  color: #fff;
  border-radius: 100px;
}

.founder-profile-picture {
  width: 711px;
  height: 574px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.circle-image {
  position: absolute;
  top: 372px;
  z-index: 2;
}

.square-image {
  position: absolute;
  top: -39.85px;
  left: 22px;
  z-index: 1;
}

.decor-image {
  position: absolute;
  top: 170px;
  left: 453px;
}

/* ||BUILDING BRIDGES SECTION */

#building-bridges {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-between;
  padding-right: 150px;
  gap: 4.8125rem;
  position: relative;
}

.circle {
  width: 229px;
  height: 229px;
  border-radius: 1000px;
  background-color: var(--primary-color);
  position: absolute;
  top: 416px;
  left: 491px;
  border: 4px solid #fff;
  padding: 26px 56px;
}

.circle-content {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.circle-content h3 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 3.75rem;
}

.circle-content p {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.right-text {
  width: 511px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.right-text h2 {
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 4.5rem;
  letter-spacing: -2px;
}

.right-text .connect {
  color: #92a7b0;
}

.right-text p {
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.875rem;
  color: #12141d;
}

#view-report-btn {
  width: 205px;
  height: 64px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary-color);
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  border: none;
  border-radius: 55px;
}

#view-report-btn p {
  background-color: var(--primary-color);
  border: none;
  color: var(--primary-bg-color);
  font-size: 1.125rem;
  font-weight: bold;
}

#view-report-btn .icon {
  width: 32px;
  height: 32px;
  padding: 4px;
  text-align: center;
  background-color: #f2f5f629;
  color: #fff;
  border-radius: 100px;
}

/* ||TESTIMONIALS SECTION */

#testimonials {
  width: 100%;
  height: 671px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 100px 150px;
  background-color: #f2f5f6;
}

.testimonial-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 4.125rem;
}

.testimonial-header h2 {
  font-size: 3.75rem;
  font-weight: bold;
  line-height: 4.5rem;
  letter-spacing: -2px;
  color: #12141d;
}

.testimonial-see-all {
  width: 95px;
  height: 28px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border: none;
  background-color: #f2f5f6;
  color: #12141d;
  font-weight: bold;
  font-size: 1.125rem;
  font-family: var(--FF);
}

.testimonial-see-all .icon {
  width: 24px;
  height: 24px;
}

.testimonial-container {
  width: 1140px;
  height: 259px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.testimonial {
  width: 554px;
  height: 259px;
  background-color: #fff;
  padding: 1.5rem;
  border: none;
  border-radius: 16px;
  box-shadow: 0px 1px 2px hsla(0, 0%, 0%, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial .quote {
  font-size: 5.625rem;
  width: 47px;
  height: 14px;
  padding-bottom: 32px;
  color: #f0b73f;
}

.testimonial blockquote {
  width: 506px;
  height: 96px;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2rem;
  color: #12141d;
}

.author {
  width: 100%;
  height: 53px;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.author-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#name {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  color: #000;
}

#designation {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
  color: #404040;
}

.carousel {
  text-align: center;
}

/* ||BLOGS SECTION */

#blogs {
  width: 100%;
  height: 923px;
  padding: 100px 150px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.blogs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 4.125rem;
}

.blogs-header h2 {
  font-size: 3.75rem;
  font-weight: bold;
  line-height: 4.5rem;
  letter-spacing: -2px;
  color: #12141d;
}

.blogs-see-all {
  width: 95px;
  height: 28px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border: none;
  color: #12141d;
  font-weight: bold;
  font-size: 1.125rem;
  font-family: var(--FF);
}

.blogs-see-all .icon {
  width: 24px;
  height: 24px;
}

.articles {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 8px;
}

.article:nth-child(odd) {
  color: #f2f5f6;
  box-shadow: 0px 1px 2px #000;
}

.article:nth-child(even) {
  box-shadow: 0px 50px 80px #043a53;
}

.article-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 0px;
  padding-right: 25px;
  padding-bottom: 24px;
  padding-left: 25px;
}

.date-person {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

#date {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  color: #000;
}

#person {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5rem;
  color: #404040;
}

.article-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.article-details h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: #000;
}

.article-details p {
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.75rem;
  color: #404040;
}

#read-more-btn {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#read-more-btn p {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.75rem;
  color: #12141d;
}

#read-more-btn .icon {
  color: var(--primary-color);
}
/* MEDIA QUERIES */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #hero {
    flex-direction: row;
    text-align: center;
  }

  .hero__title__text h1 {
    font-size: 3rem;
  }

  .hero__title__text p {
    font-size: 1.5rem;
  }

  .hero__buttons {
    flex-direction: row;
  }

  .trusted-brands {
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .trusted-brands p {
    width: 100%;
  }

  .brands {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }

  .header__nav {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .header__btn {
    display: none;
  }

  .hero__section {
    width: 100%;
    height: auto;
    padding: 50px 70px;
  }

  #hero {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  #hero img {
    width: 60%;
  }

  #hero img:nth-child(1) {
    order: 1;
  }

  .hero__text {
    order: 1;
  }

  .hero__title__text {
    width: 100%;
    height: auto;
  }

  .hero__title__text h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.2;
  }

  .hero__title__text p {
    font-weight: 400;
    font-size: 2rem;
    color: #12141d;
    opacity: 0.7;
  }

  .hero__buttons {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  .trusted-brands {
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .brands {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 0.5rem;
  }

  #video-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 50px 20px 0px 20px;
    justify-content: space-between;
    gap: 2rem;
  }

  .header-text {
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 1rem;
  }

  .header-text h3 {
    width: 100%;
    height: auto;
    font-size: 1.875rem;
    line-height: 1.5;
  }

  #teams {
    font-size: 1.875rem;
    white-space: wrap;
  }

  .header-text p {
    width: 100%;
    height: auto;
    font-size: 0.875rem;
    line-height: 1.5;
  }

  .video-container {
    width: 100%;
    height: auto;
    background-image: url("assets/BG.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .play-button {
    display: none;
  }
}
